* {
    margin: 0;
    padding: 35px;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
body {
    background-color:  #C3B1E1;
}
.box {
	width: 750px;
    height:600px;
	background: rgba(0, 0, 0, 0.4);
	padding: 50px;
	text-align: center;
	margin: auto;
	margin-top: 5%;	
}

